[2011-02-03 09:23] rombert opened #1 "Task list change notifications are shown twice"
The current change detection is incorrect - a change is show twice and opening the task editor shows that the task has incoming changes, but it doesn't.

[2011-02-03 09:25] rombert opened #2 "Display non-file related comments for reviews"
The top and bottom comment entries from reviews should be displayed as comment text.

[2011-02-03 09:25] rombert opened #3 "Create task editor page icon"

[2011-02-03 09:26] rombert opened #4 "Display affected files list for diffs"
Investigate what Gerrit is doing and do the same.

[2011-02-03 09:26] rombert opened #5 "Display non-file related comments for diffs"
The diff has an optional message, and we should display that.

[2011-02-03 09:28] rombert opened #6 "Display file comments in compare editor"
Just check what Gerrit is doing and do the same.

[2011-02-07 15:14] rombert opened #7 "Change number is mapped to null"
Rather, it should be mapped to ''.

[2011-02-07 15:17] rombert opened #8 "Map reviewers to the people part"
We should map the people and the groups set for review.

[2011-02-07 15:22] rombert opened #9 "Map diffs as attachments"
All diffs should be visible in the list, with all but the most recent one being marked as obsolete.

[2011-02-08 16:06] #1 closed, assigned to nobody

[2011-02-09 12:40] rombert opened #10 "Open in browser unavailable"
The latest build does not have the 'Open in browser' editor icon. Neither is the menu item available.

[2011-02-09 16:06] rombert opened #11 "Map screenshots to attachments"

[2011-02-09 16:19] #7 closed, assigned to nobody

[2011-02-09 16:21] rombert opened #12 "Map testing done field to be similar to the description field"

[2011-02-10 00:19] #9 closed, assigned to nobody

[2011-02-10 10:03] rombert opened #13 "Fix version number"
This should be 1.0.0 all over, including in the feature descriptions.

[2011-02-10 10:27] rombert opened #14 "Map bugs_closed as a list of values"

[2011-02-10 10:27] rombert opened #15 "Remove private page"
We already have the private part.

[2011-02-10 10:28] rombert opened #16 "Use review board icon for request editor page"

[2011-02-10 15:31] rombert opened #17 "Remove all external plugins from update site"
We should instead refer to the Mylyn update site as an associate site, if needed.

[2011-02-10 15:37] #13 closed, assigned to nobody

[2011-02-10 15:40] #8 closed, assigned to nobody

[2011-02-10 15:40] #10 closed, assigned to nobody

[2011-02-10 15:40] #12 closed, assigned to nobody

[2011-02-10 15:40] rombert opened #18 "Create archived update site for upload"

[2011-02-11 08:45] #2 closed, assigned to nobody

[2011-02-11 08:45] #15 closed, assigned to nobody

[2011-02-11 09:34] #16 closed, assigned to nobody

[2011-02-11 09:54] #5 closed, assigned to nobody

[2011-02-11 10:02] #18 closed, assigned to nobody

[2011-02-11 10:28] #17 closed, assigned to nobody

[2011-02-11 10:49] #14 closed, assigned to nobody

[2011-02-11 10:51] rombert opened #19 "Make ship-it count an attribute"
It's important enough to display visibly.

[2011-02-11 11:56] rombert opened #20 "Create wiki page with description"
Should describe what the current features of the connector are, and include screenshots.

[2011-02-11 11:56] rombert opened #21 "Create an update site"
On the gh-pages, upload the latest stable version.

[2011-02-11 11:58] rombert opened #22 "Register on the Eclipse marketplace"
Make sure that installation from the Marketplace client is functional with a fresh 'Eclipse for Java developers' installation.

[2011-02-11 12:40] #21 closed, assigned to nobody

[2011-02-11 13:47] rombert opened #23 "Map dates to the local timezone"
The WebAPI returns dates in UTC. We should convert to the local timezone.

[2011-02-11 14:30] #19 closed, assigned to nobody

[2011-02-11 15:48] #11 closed, assigned to nobody

[2011-02-11 16:03] rombert opened #24 "Validate repository version"
We should only allow access for 1.5 or higher servers.

[2011-02-11 16:03] rombert opened #25 "Insure we are not using the old API in any place"

[2011-02-11 17:33] #3 closed, assigned to nobody

[2011-02-11 22:29] #20 closed, assigned to nobody

[2011-02-11 22:42] #22 closed, assigned to nobody

[2011-02-11 23:00] rombert opened #26 "Query dialog does not restore values"
Instead, they are preset to the original values

[2011-02-14 14:48] #26 closed, assigned to nobody

[2011-02-14 21:53] rombert opened #27 "Move logic from RRClient.getTaskData to RRReader"

[2011-02-14 21:54] rombert opened #28 "Remove tests feature"
It's not used anywhere

[2011-02-14 21:55] rombert opened #29 "JSON conversion: check for stat/ok on every conversion"

[2011-02-14 21:57] rombert opened #30 "Upload new diffs to existing reviews with Subclipse"
1. Improve the wizard to accept posting to an existing review request. The final page will only accept a change description, rather than all the fields. The user can change other fields by using the task editor, if needed.
2. Create an extension point from the ui plugin for contributing actions.
3. Have the subclipse.ui plugin implement the extension point to contribute a 'Upload new diff' action.

[2011-02-14 21:58] rombert opened #31 "Create review requests with Subclipse"
The steps seem to be:
- create a new request, repository only ( http://www.reviewboard.org/docs/manual/1.5/webapi/2.0/resources/review-request-list/#POST )
- post a new diff http://www.reviewboard.org/docs/manual/1.5/webapi/2.0/resources/diff-list/#POST
- post a request draft for the newly created request http://www.reviewboard.org/docs/manual/1.5/webapi/2.0/resources/review-request-draft/#PUT ( p

[2011-02-15 15:37] #24 closed, assigned to nobody

[2011-02-28 15:49] rombert opened #32 "Query with 'all' status does not return any results"

[2011-03-01 15:04] #25 closed, assigned to nobody

[2011-03-01 15:07] #28 closed, assigned to nobody

[2011-03-01 15:58] #32 closed, assigned to nobody

[2011-03-01 22:52] #27 closed, assigned to nobody

[2011-03-01 23:00] rombert opened #33 "Move TaskData-related operations from ReviewboardClient"
They obviously do not belong in there, should in the the ReviewboardRepositoryConnector

[2011-03-01 23:00] rombert opened #34 "Use real names in comments and for the submitter"

[2011-03-01 23:04] rombert opened #35 "Remove usage of Marshallable"

[2011-03-01 23:05] #29 closed, assigned to nobody

[2011-03-01 23:32] #35 closed, assigned to nobody

[2011-03-02 09:13] rombert opened #36 "Set the max-results parameter when querying"
We need to:
- expose this in the query page;
- set it in the ReviewRequestQuery instances;
- make sure it is also used when retrieving the changed review request ids.

[2011-03-02 09:13] #33 closed, assigned to nobody

[2011-03-02 10:02] #36 closed, assigned to nobody

[2011-03-04 14:37] rombert opened #37 "Close -> Submitted does not apply in the task list"
If I close an issue from the Web UI it is not reflected in the task list. If I perform a manual sync of the query that it is correctly marked as closed.

[2011-03-06 15:20] rombert opened #38 "Repository connectors should have the 'review category'"
In the teams view, repositories are listed under the unknown category.

[2011-03-06 18:19] rombert opened #39 "Paged retrieval of users from repository"
We are not setting max-results, which means that for repositories with >25 users we will not be retrieving all of them.

[2011-03-07 10:24] #38 closed, assigned to nobody

[2011-03-07 10:37] rombert opened #40 "Paged retrieval of repositories from repository"
Same deal as with user retrieval, but less likely to occur.

[2011-03-07 11:18] #37 closed, assigned to nobody

[2011-03-07 12:39] #39 closed, assigned to nobody

[2011-03-07 15:58] #34 closed, assigned to nobody

[2011-03-08 11:02] rombert opened #41 "Map review request replies as comments"
http://www.reviewboard.org/docs/manual/1.5/webapi/2.0/resources/review-reply-list/

[2011-03-08 11:24] rombert opened #42 "NPE when trying to create a new query"
[code]

[2011-03-08 11:30] #40 closed, assigned to nobody

[2011-03-08 11:30] #42 closed, assigned to nobody

[2011-03-08 11:49] rombert opened #43 "Map screenshot comments as replies"
http://www.reviewboard.org/docs/manual/1.5/webapi/2.0/resources/screenshot-comment-list/

[2011-03-10 10:09] #41 closed, assigned to nobody

[2011-03-10 10:27] rombert opened #44 "Ensure that all calls are using paging"
The new REST API has limits in place for retrieving almost every entity. We should make sure to use the paging calls, otherwise we will start missing data.

[2011-03-10 12:50] #43 closed, assigned to nobody

[2011-03-13 21:11] misterbeebee opened #45 ""Did not find session cookie in response" when Validating Settins"
During Repository setup, When I "Validate Settings" to my company's Review Board server, I get this error:
"Did not find session cookie in response"

Browser based access from the same client machine to the same server works fine.

What does that mean? How can I diagnose?

I mean, it's clear that this is where the error happens:

[code]

but...why?

Possibly related: On some machines, (Firefox on

[2011-03-14 08:32] #45 closed, assigned to nobody

[2011-05-03 08:04] #44 closed, assigned to nobody

[2011-05-03 08:15] #23 closed, assigned to nobody

[2011-05-24 08:11] rombert opened #46 "Add 'close' actions"

[2011-05-24 13:00] #46 closed, assigned to rombert

[2011-06-10 20:08] jaakash2004 opened #47 "Reviewboard Repository Settings: The server has responded with an invalid JSon object."
I added ereviewboard plugin to my Eclipse workspace. Installation went fine.
However, While adding Task Repository, I added server details. When we click "Validate Settings" command button, It tries to connect to the server and gives the following error:
"The server has responded with an invalid JSon object : A JSONObject text must begin with '{' at character 1"
"Next" button is never  enabled.

I

[2011-06-15 08:29] #47 closed, assigned to rombert

[2011-06-16 19:29] philippecade opened #48 "Close review request and commit in one operation"
Improvement: it should be possible to close a review request and commit in one operation.

One should also have the possibility to link review request and commit:
1. by automatically enter information about the review in the commit comment (which information to include and format to be defined by a template provided by user):
- review id
- reviewer
- url to review
  1. by adding commit identifier

[2011-08-09 14:48] #4 closed, assigned to rombert

[2011-08-09 14:50] rombert opened #49 "Open changed files in compare editor"
http://www.reviewboard.org/docs/manual/1.5/webapi/2.0/resources/file-diff/ indicates how we can obtain file diffs,either as patches or as very detailed diffs.

It remains to be seen how we can hook into the compare ui. One possibility is to start from the org.eclipse.compare.internal.core.patch.PatchReader and work our way towards using org.eclipse.compare.internal.patch.PatchCompareEditorInput .

[2011-08-10 14:00] #49 closed, assigned to rombert

[2011-09-01 14:44] rombert opened #50 "Spurious JSON parsing errors"
Apparently the result is received partially . One suspect is incorrect synchronisation - perhaps multiple threads read from the same result. Another possibility is that the result is not completely read and the next reader gets bad data.

org.review_board.ereviewboard.core.exception.ReviewboardException: The server has responded with an invalid JSon object : A JSONObject text must begin with '{' a

[2011-09-01 14:45] rombert opened #51 "Use GSON for parsing JSON"
This library is available from Orbit and already used by the Gerrit connector. It would make sense to reuse it and remove the json jar from the bundle classpath.

[2011-09-02 08:27] #50 closed, assigned to rombert

[2011-09-23 10:43] rombert opened #52 "Add 'Ship it!' action"

[2011-10-04 12:24] rombert opened #53 "NPE in ReviewboardAttributeMapper.getRepositoryPerson"
-- Error Details --
Date: Tue Oct 04 15:10:29 EEST 2011
Message: Problems occurred when invoking code from plug-in: "org.eclipse.mylyn.tasks.ui".
Severity: Error
Product: Eclipse 1.4.1.20110909-0613 (org.eclipse.epp.package.jee.product)
Plugin: org.eclipse.mylyn.tasks.ui
Session Data:
eclipse.buildId=M20110909-1335
java.version=1.6.0_26
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=li

[2011-10-05 13:38] #31 closed, assigned to rombert

[2011-10-05 13:42] rombert opened #54 "Handle diffs with moved files"
The SVN library used by Subclipse handles renames incorrectly from Reviewboard's point of view, causing errors when such diffs are posted. When detecting such moves, we should duplicate the way [post-review handles renames](https://github.com/reviewboard/rbtools/blob/6f7562ca1053e2c9a91f9fa3f1f9eb87ba3ea1e0/rbtools/clients/svn.py#L168) and adjust the patch header.

[2011-10-05 13:44] #53 closed, assigned to rombert

[2011-10-06 10:06] #54 closed, assigned to rombert

[2011-10-07 12:30] rombert opened #55 "Default to username if fullname is not defined"

[2011-10-07 13:13] #30 closed, assigned to rombert

[2011-10-07 13:13] #55 closed, assigned to rombert

[2011-10-07 14:38] rombert opened #56 "Do not consider directories for diffs"
Directories do not participate in diffs, therefore a patch with just directories will fail.

[2011-10-07 14:40] rombert opened #57 "Report specific errors in case of field errors"
When an error occurs due to specific fields, the errors are not reported correctly. For instance:

{"err":{"code":105,"msg":"One or more fields had errors"},"stat":"fail","fields":{"path":["The submitted file is empty."]}}

Only reports that 'One or more fields had errors'.

[2011-10-07 15:10] rombert opened #58 "Prevent double 'Ship-it!' texts from showing up."
The new 'ship-it' action for RB 1.6 automatically adds the 'Ship-it!' message to the review. Since we already add a 'Ship it!' text for the comment, the text is shown twice.

Instead, only add the comment if no 'Ship{-, }it(!,.)?' comment text is found.

[2011-10-09 08:51] #56 closed, assigned to rombert

[2011-10-09 19:09] #57 closed, assigned to rombert

[2011-10-09 19:26] #58 closed, assigned to rombert

[2011-10-10 11:44] #52 closed, assigned to rombert

[2011-10-10 14:12] rombert opened #59 "Correct display of renamed files"

[2011-10-11 12:31] #59 closed, assigned to rombert

[2011-10-11 12:54] rombert opened #60 "Open compare editor based on source and target revision"
When the compare editor is opened, it applies the patch to the file in the workspace and then compares the results. This obviously fails unless the local workspace file is at the same revision as the patch base and has no local changes.

We should set up an extension point and allow SCM plugins to contribute the contents of a file corresponding to a specified source code repository, path, and revi

[2011-10-11 13:42] #60 closed, assigned to rombert

[2011-10-12 14:10] fmisiak opened #61 "InvocationTargetException while creating first query"
eclipse.buildId=M20110210-1200
java.version=1.6.0_27
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product com.springsource.sts.ide
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -product com.springsource.sts.ide

Error
Wed Oct 12 10:06:43 EDT 2011
java.lang.reflect.InvocationTargetException

java.lang.RuntimeExc

[2011-10-12 16:32] #61 closed, assigned to rombert

[2011-10-13 10:40] rombert opened #62 "Add comments from the compare editor"

[2011-10-13 10:42] rombert opened #63 "Display all diffs in the task editor"
This should remove the need to map diffs as patches in the attachment table.

[2011-10-13 11:00] rombert opened #64 "Do not consider conflicted files for diffs"
Files with status 'normal, tree-conflict' are now considered for diffs.

[2011-10-13 12:28] #64 closed, assigned to nobody

[2011-10-15 14:26] #6 closed, assigned to rombert

[2011-10-17 07:49] rombert opened #65 "Diff comments not shown on new files"

[2011-10-17 07:59] #65 closed, assigned to nobody

[2011-10-17 08:16] rombert opened #66 "Support reviews 0.8.0"
Until Mylyn 3.7 is out we need to support Reviews 0.8 as well, which has switched compare editor sides.

[2011-10-17 08:43] #66 closed, assigned to nobody

[2011-10-17 08:56] rombert opened #67 "Display comments in the diff part"

[2011-10-17 11:41] #63 closed, assigned to rombert

[2011-10-17 13:07] rombert opened #68 "Collapse 'Testing done' part unless interesting"
Where interesting = has text or has incoming change.

[2011-10-17 13:22] rombert opened #69 "Allow applying diffs locally"

[2011-10-17 14:38] #67 closed, assigned to rombert

[2011-10-17 14:38] #68 closed, assigned to rombert

[2011-10-17 15:27] #69 closed, assigned to rombert

[2011-10-18 13:15] #62 closed, assigned to rombert

[2011-10-18 13:41] rombert opened #70 "Investigate replying to reviews"
Currently adding and publishing comments generates reviews. We should look into how to reply to reviews and generate review replies.

[2011-10-18 13:47] rombert opened #71 "Retrieve file contents using EGit"
There should be a basic integration with EGit to be able to display diffs in compare editor.

[2011-10-19 12:30] #71 closed, assigned to rombert

[2011-10-21 11:15] rombert opened #72 "Retrieve file contents using CVS"

[2011-10-24 09:21] rombert opened #73 "Ensure required dependencies are resolved at feature level"
We should always include feature dependencies, otherwise we end up with plugins installed but not the feature.

[2011-10-25 05:50] haebin opened #74 "Can you support post-commit review by specifying rev range?"
Hi, can you support post-commit review by specifying rev range instead of posting the local diff?
Thank you very much~

[2011-10-25 12:36] haebin opened #75 "How do you build this project?"
Could you kindly explain how to build this?
By just running maven build won't build. (I'm using m2e on my Indigo)

[INFO] Scanning for projects...
0 [main] ERROR org.sonatype.guice.bean.reflect.NamedClass - Error injecting: org.eclipse.tycho.equinox.embedder.DefaultEquinoxEmbedder
com.google.inject.ProvisionException: Guice provision errors:

1) No implementation for org.eclipse.tycho.equinox.Equi

[2011-10-25 13:13] #75 closed, assigned to nobody

[2011-10-28 14:13] #73 closed, assigned to rombert

[2011-11-04 14:42] rombert opened #76 "Do not try to open diffs for binary files"
We could do something smarter in the long run, but for now we will simply not try to compare them.

[2011-11-07 12:20] #76 closed, assigned to rombert

[2011-11-07 12:20] rombert opened #77 "Review dialog text inputs need wrapping, scrolling"

[2011-11-07 12:22] #77 closed, assigned to rombert

[2011-11-09 16:13] ginkel opened #78 "Make filling target user and group optional"
Our Review Board installation is set up to automatically assign reviewers to new review requests using Review Board's "Default Reviewers" feature.

Unfortunately, EReviewboard expects that at least one of the "Target user" or "Target group" fields contains data when publishing a review request.

Would it be possible to make these fields optional if a matching default reviewer is maintained for the

[2011-11-15 12:34] #72 closed, assigned to rombert

[2011-11-15 12:35] rombert opened #79 "Wrong SVN repository selected"
If multiple SVN projects are available in the workspace which are connected to the same repository, the first one gets selected.

[2011-11-15 12:53] #79 closed, assigned to rombert

[2011-12-06 11:07] rombert opened #81 "Provide spell checking when submitting review requests"
Some pointers online:

http://blog.ankursharma.org/2009/08/adding-spellchecking-to-custom-editors_19.html
http://eclipsesource.com/blogs/2008/10/03/tip-spellchecking-in-eclipse/

[2011-12-07 10:07] rombert opened #82 "Display friendly names for users and groups"

[2011-12-07 11:15] #82 closed, assigned to rombert

[2011-12-07 12:35] #81 closed, assigned to nobody

[2011-12-08 10:37] rombert opened #83 "Pre-fill the bug number from the active task, if any"
If an active Mylyn task is available, pre-fill the 'Bugs closed' field with its id.

[2011-12-08 11:12] #83 closed, assigned to rombert

[2011-12-09 15:38] rombert opened #84 "Remove 'patch attachments'"
With the current improvements, this is no longer necessary.

[2011-12-09 15:43] rombert opened #85 "Map changes to reviews"
Reading changes will allows us to correctly map authors to diffs and also the change descriptions to reviews.

[2011-12-09 15:58] #84 closed, assigned to rombert

[2011-12-09 16:01] rombert opened #86 "Allow posting screenshots"
http://www.reviewboard.org/docs/manual/1.6/webapi/2.0/resources/screenshot-list/#POST

[2011-12-21 20:33] anton-potapov opened #87 "can not login into intranet server - incorrect login/password"
server version is 1.5.
Indigo eclipse, last repository version.

I',m trying to log into a intranet server. I'm sure that credentials are correct because I do can log in via a browser. But the plugin says that my credentials are not acceptable.

BTW, is it possible to see somehow exact server response ?

[2012-01-10 19:39] fai58 opened #88 "Subclipse create review request bug"
When trying to create a review request, it is fine when getting any file changes, but it doesn't show any newly added files

[2012-01-16 18:09] RunnersReign opened #89 "Unable to View Diff Comments"
Comments made on a diff file are not viewable when viewing the diff in eclipse.

Steps to Reproduce:
1. Open A Review within Review Board (Either in the Web Site or in eReviewBoard)
2. View the Diff for the review  (Either in the Web Site or in eReviewBoard)
3. Make a comment on any line for that diff.  (Either in the Web Site or in eReviewBoard)
4. Post changes.  (Either in the Web Site or in eRe

[2012-02-01 08:16] rveloso opened #90 "Svn repository mismatch because of different usernames"
it seems there's a "bug" in your reviewboard plugin in that it tries to match the svn repository complete string:
e.g. svn+ssh://user1@domain.com/repo will not be considered the same repository as svn+ssh://user2@domain.com/repo, even though only the usernames differ.

if i have a generic user configured in reviewboard server and im checking-in code locally using another username, the plugin wont

[2012-02-01 15:48] johnstonskj opened #91 "Repository not found error"
Just installed the connector and started the add new repository wizard. I entered the root URL for our reviewboard server (https://cr.mycompany.com/) and my user ID and password, I know our server is version 1.5 and I can get the /api/ document for it so am not sure what's missing based on the error message "Repository not found" when I press the validate button.

[2012-02-01 17:39] RunnersReign opened #92 "Support Multiple Line Selection for Comments"
When making a comment on a code diff using the Eclipse Plugin, I would normally select multiple lines that I want to make the comment on and then make the comment on that block of text.  This is great for instances where you want to show the entire section of code that will cause the error.  I finding however that the the comment only refers to the first line of the selection when creating the com

[2012-02-09 15:37] georgeranjan opened #93 "Support for Subclipse version 1.4_X"
We are using subclipse 1.4_X as our subversion repository is 1.5.  Would be great if you support this older version as well.

[2012-04-03 16:01] #89 closed, assigned to rombert

[2012-04-04 13:31] pghilardi opened #94 "Problem viewing diff of a review on GIT"
Hey,

I'm having problems to view a diff of a review on GIT using eReviewBoard. I can view the diff of a new file (a file that didn't exists on previous revision), but cannot view diff of modified files. This is the error message:

"Compare Failed: Invalid Id: eb14816", where the last number changes accordingly to review.

I don't know what is happening, maybe my repository is misconfigured or som

[2012-04-05 21:00] #93 closed, assigned to rombert

[2012-04-11 21:21] rfayle opened #95 "Can't validate setting when setting up repository"
I have build  0.12.0.201112201252 installed with the Subclipse integration and when setting up the reviewboard repository the validate settings always fails. Using WireShark it is reaching the repository fine and getting api information back but eventually gets the message "you are not logged in" back. Our authentication is via ldap.

[2012-04-12 13:36] #95 closed, assigned to nobody

[2012-04-12 21:19] rfayle opened #96 "Diff section is empty"
ReviewBoard 1.6.5 on Redhat 5
Eclipse Version: Indigo Service Release 2 Build id: 20120216-1857
Eclipse Mylyn: mixture of 3.7.0.v20120319-0200 and 0.9.0.v20120319-0200
eReviewBoard: 0.12.0.201112201252
Subclipse version: 1.8.7

The Diff section of the task is empty. In fact the 'tab' that Diff sits on is only as long as the word "Diff". The expand/collapse arrow has no effect. This is a problem as

[2012-04-13 14:36] #96 closed, assigned to nobody

[2012-04-19 20:30] #94 closed, assigned to rombert

[2012-04-26 07:06] j-salvo opened #98 "No "Create Review Request" menu item under Team menu"
Hi,

I am at a loss.

According to this page:

https://github.com/rombert/ereviewboard/wiki/Subclipse-integration

...  one should get the "Create Review Request"  under the Team menu option. However, I do not have that menu option. After installation of the plugin, I created a Mylyn Task Repository that uses the reviewboard connector, and the connection was validated, but the menu option does not

[2012-04-26 07:56] #98 closed, assigned to rombert

[2012-05-18 05:16] lucianocheng opened #99 "Explicitly set JSON as the Accept MIME type"
My Eclipse ereviewboard instance is returning XML instead of JSON when querying the API.

When selecting "Team -> Create Review Request", it fires off the following request:

https://reviewboardtest.lucianocheng.com/api/users/?start=0&max-results=50

But shows the following error:

Failed updating the repository data for Reviewboard : The server has responded with an invalid JSon object : A JSONOb

[2012-05-18 20:20] #99 closed, assigned to nobody

[2012-05-19 22:05] lucianocheng opened #101 "Failed creating new review request : basedir : This field is required."
Hi, I am getting this error when I try to create a new Review Request from a SVN project:

Failed creating new review request : basedir : This field is required.

I don't see the basedir parameter anywhere, is it automatically configured?  For my project I have the Repository Root and the URL as the same:

https://testserver.lucianocheng.com/svn/prod/testproject/trunk

Stack trace is:

org.review_

[2012-05-29 19:42] #101 closed, assigned to nobody

[2012-06-07 15:37] Muataz opened #104 "Direct creation is not supported."
Hello,

I am trying to create new new task but I get this message "Direct creation is not supported." Review request may be created for specific SCM plugins.

I can make new query any how and it works. I connect to the server and brings all tasks that I made via post-review or web interface.

[2012-06-07 19:11] #104 closed, assigned to nobody

[2012-06-17 03:25] lucianocheng opened #105 ""Invalid JSON Object" error truncation isn't detailed enough"
Hey,

We often have issues with our firewalls / servers that cause ereviewboard to pass XML / HTML style errors when a request fails on a 500.

Line 117 of RestfulReviewboardReader.java truncates these error pages to 200 characters, which often isn't enough to read the full error message:
https://github.com/rombert/ereviewboard/blob/master/org.review_board.ereviewboard.core/src/org/review_board/er

[2012-06-19 17:32] lucianocheng opened #106 "302 Redirects are not honored by REST API requests"
If a user has his server at http://reviewboard.mycompany.com and that issues a 302 redirect to https://reviewboard.mycompany.com, this redirect returns a "Invalid JSON error" and shows a 302 HTML page rather than following the redirect.

[2012-06-28 17:33] markphip opened #109 "Cannot install from zipped site"
I was able to install 0.13 directly from the p2 repository fine, but when I try to install from the zipped archive it fails due to problems with the signatures.  My recommendation would be to ditch the signatures as they are not worth the trouble.  You can always sign the zip file if you really want it.

This is important for me, because I currently re-host your plugins on my update site to make i

[2012-06-28 18:38] #109 closed, assigned to rombert

[2012-08-03 12:06] fabioz opened #110 "When the last comment is my own, don't show it as 'not seen'"
First let me begin with thanking for ereviewboard... it's a really nice plugin and made my life much easier :)

Now, on to the request ... I'm not sure this is something you can control or not, but ideally I'd like the issue to be marked as already read when I was the last person that changed it.

My use case is the following:

When I do reviews on projects I do not have loaded in Eclipse or when

[2012-09-06 12:37] ctooley opened #111 "Subversive/Subclipse 1.8 Support"
Robert,

Any plan on updating eReviewBoard to support these newer clients? Anything I can help with?

Chris Tooley

[2012-09-14 15:48] NetAppBlueDevil opened #112 "Can't recreate query for Reviewboard Repository"
Fails and I get this in the eclipse log

!ENTRY org.eclipse.ui 4 0 2012-09-14 11:34:47.999
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
    at org.review_board.ereviewboard.ui.ReviewboardUiUtil.refreshRepositoryData(ReviewboardUiUtil.java:104)
    at org.review_board.ereviewboard.ui.wizard.ReviewboardQueryPage.updateReposi

[2012-09-26 20:56] #112 closed, assigned to rombert

[2012-10-03 16:57] fulgas opened #113 "Unknown RepositoryType display name 'ClearCase'"
java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
    at org.review_board.ereviewboard.ui.ReviewboardUiUtil.refreshRepositoryData(ReviewboardUiUtil.java:104)
    at org.review_board.ereviewboard.ui.wizard.ReviewboardQueryPage.updateRepositoryData(ReviewboardQueryPage.java:162)
    at org.review_board.ereviewboard.ui.wizard.ReviewboardQueryPage.createControl(ReviewboardQueryPa

[2012-10-03 18:00] #113 closed, assigned to nobody

[2012-10-10 12:43] dzurbuch opened #115 "Create review request in various circumstances."
I have multiple projects in my Eclipse workspace, corresponding to different branches of the project.

When I patch something, why is it not possible to include the changes from all projects in the diff that will be included in the review?

Why is it not possible to create a review request directly from a Change Set ?
Is it definitely necessary to select the project?

Thanks in advance for your he

[2013-01-13 20:21] #90 closed, assigned to rombert

[2013-01-21 02:21] hddm opened #116 "Problem parsing dates from Review Board Web API JSON responses"
Hi,
We are using Review Board 1.7.1 and the Web API JSON responses contains dates in ISO8601 while the plugin expects the dates to be formatted in "yyyy-MM-dd HH:mm:ss". We did not find a way to change Review Board server settings to match the expected format. The solution we found is to modify org.review_board.ereviewboard.core.util.ReviewboardUtil.java and replace the content of ReviewboardUtil.

[2013-01-23 14:47] haraldreingruber opened #117 "Allow "Create Review Request" on multiple projecs, if they are from the same SVN repository"
It would be nice, if the creation of a review request would be possible for changes over multiple projects. I guess the problem would be that different projects can be from different repositories. But as the many subclipse actions, it would be sufficient to allow the creation of reviews requests if all selected projects are from the same SVN repository.

[2013-02-10 20:02] #116 closed, assigned to rombert

[2013-02-11 19:20] jacobweber opened #118 "Error when getting info on repository that's down"
Using eReviewBoard 0.13.2, I'm connecting to a ReviewBoard 1.6.11 server with multiple repositories. One of the repositories is down (so the RB server can't connect to it).

In the Task List view, I select New Query, and try to create a ReviewBoard query. But I get the error below. From watching the network traffic, it looks like it's trying to request info for the repository that's down:

http://

[2013-02-11 19:58] jacobweber opened #119 "Wiki URL invalid"
The wiki URL in the README is incorrect:

https://github.com/rombert/ereviewboard/blob/master/ereviewboard/wiki

[2013-02-12 19:26] #119 closed, assigned to nobody

[2013-03-20 18:40] markphip opened #120 "Cannot install in Java 6"
The same problem from Issue #109 is back again.  I have had several users report this to me today and just verified myself.  When you try to install via p2 update site it fails with error:

Problems downloading artifact: osgi.bundle,org.review_board.ereviewboard.core,0.13.2.201302101951.
    Error reading signed content:C:\Users\GP53713\AppData\Local\Temp\signatureFile5663791449963413268.jar
    N

[2013-03-20 22:45] stevetarver opened #121 "Create review auto selects the wrong svn repository - can't diff in eclipse"
Our ReviewBoard installation has http, https, and local svn repository connections
- http://a.b.c/svn
- https://a.b.c/svn
- http://localhost/svnlocal/

Behavior:
When creating a new review request, eReviewBoard always selects the last in that list: the only one I can't use: localhost.

Problems:
I cannot double click the files in the Mylyn task and view them in the Eclipse differ. Get
    svn: PRO

[2013-03-21 20:33] #120 closed, assigned to rombert

[2013-03-22 19:20] stevetarver opened #122 "Create review: Want tab to move between text boxes"
Currently, tabbing inside a text box inserts the tab into the text area. Would prefer this move between text boxes for easy field navigation.

[2013-03-28 20:50] rombert opened #123 "ReviewboardUtilTest.testMarshallDate_* tests fail on buildhive"
https://buildhive.cloudbees.com/job/rombert/job/ereviewboard/org.review_board.ereviewboard$org.review_board.ereviewboard.tests/25/testReport/junit/org.review_board.ereviewboard.core.util/ReviewboardUtilTest/testMarshallDate_1_6/

junit.framework.AssertionFailedError: expected:<1282951578000> but was:<1282962378000>
    at junit.framework.Assert.fail(Assert.java:47)
    at junit.framework.Assert.fa

[2013-03-28 21:03] #123 closed, assigned to rombert

[2013-04-02 19:40] pvgopinath opened #124 "Server URL changes from https to http"
Hi,

I have a created a Review Board task repository. The URL entered in the properties screen is
https://xx.xx.xx.xx/rb/s. The credentials are valid.

Right click on Task Repository click update Repository configuration failed with the message that it cannot fetch extended information.

When I right click Project, select Team and select Create Review Request I get an error

Failed updating the re

[2013-08-20 13:54] philippecade opened #125 "Cannot display diff in Eclipse 4.3 (Kepler)"
eReviewBoard version 0.13.2.201303212018

The diff section stays empty when opening a review request in Eclipse 4.3. The error below is shown in the Error Log.

I have version 2.0.0.v20130612-0100 of the org.eclipse.mylyn.reviews.core plug-in. In this version, there is no createFileRevision method in this class.

java.lang.NoSuchMethodError: org.eclipse.mylyn.reviews.internal.core.model.ReviewsFac

[2013-09-18 14:10] olexiyb opened #126 "Installation from Eclipse market place does not work"
http://rombert.github.io/ereviewboard/update/
404
There isn't a GitHub Page here.
Installation from Eclipse market place does not work

[2013-09-27 21:45] #126 closed, assigned to rombert

[2014-01-10 16:34] #125 closed, assigned to nobody

[2014-01-22 07:33] amritpals opened #129 "eReviewBoard can't raise review request"
I have my reviewboard 1.7 configured and I am using eReviewBoard and Subclipse plugins in Eclipse IDE.

The issue is when I try to raise the review request it fails giving "timed out" as "Failed creating new review request : Exception executing PutMethod on http://10.203.3.244/api/review-requests/380/draft/ : Read timed out"

When I checked the info at "http://10.203.3.244/api/review-requests/380"

[2014-02-06 11:31] #129 closed, assigned to rombert

[2014-03-10 19:19] gozhang7 opened #130 "Can not show diff and create review request"
Hi,

I am glad you developed this plugin to help the integration with Eclipse and ReviewBoard, it`s very cool! But I have a few problems for now.
1. Within a review request, the diff tab is empty. And I have saw some similar issues and I am wondering, is this problem solved? I already downloaded the latest version of eReviewBoard(0.13.2) and connector to Mylyn
2. I have checkout a project from SVN

[2014-03-19 19:25] sunilvasudevan opened #131 "Cannot create Review Request using two different svn revisions"
I am not able to create a review request using two different revision history. Is there any way for me to create review request using two SVN revisions?

[2014-04-09 09:28] rutwickjain-zz opened #132 "Support creating review requests for git changes"
Hey,

I created a test Git repository for POC. I am trying to integrated Git repository with ereviewboard through Eclipse(Juno version).

I installed it through this link --> http://rombert.github.com/ereviewboard/update/
Plus, I installed subclipse integration through this link -->  http://subclipse.tigris.org/update_1.6.x

I am able to add a task repository for my reviewboard server and even got

[2014-05-08 21:39] rombert opened #133 "Posting review comments fails with Reviews 2.0"
[code]

[2014-06-24 18:37] anton-potapov opened #134 "Diff tab is empty"
software versions:
 Eclipse Version: Kepler Service Release 2 Build id: 20140224-0627
 Mylyn Reviews  2.2.0.v20140218-2000
 Mylyn Reviews Connector: ReviewBoard   0.13.2.201303212018

call stack:

eclipse.buildId=4.3.2.M20140221-1700
java.version=1.7.0_55
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product org.eclipse.epp.pa

[2014-07-01 09:36] #134 closed, assigned to nobody

[2014-10-16 22:41] #130 closed, assigned to rombert

[2014-10-19 21:27] rombert opened #135 "Move release downloads to GitHub"
This would allow us to manage the project in only one place - Github.

[2014-10-19 21:28] rombert opened #136 "Document release process"
(To be done after #135)
- build with code signing
- upload to p2 update site
- zipped file upload
- eclipse marketplace update
- google group announcement

[2014-10-20 11:09] rombert opened #137 "Expose all features in the Eclipse Marketplace listing"
We should expose all features in the Eclipse Marketplace listing, otherwise users will simply install the base integration and not get any SCM integration.

[2015-01-26 20:32] itsdpk opened #138 "how to add an additional reviewer"
is there some way to add an additional reviewer once the file is pushed to my queue for review.

[2015-02-10 10:43] nikhil-github opened #139 "Filesystem has no item while comparing"
Recently installed ereviewboard and integrated with subclipse . I was able to retrieve the review tasks but when i clicked on file in mylyn rich editor it says  "Filesystem has no item"

[2015-02-10 19:27] rombert commented on #139
@nikhil-github - thanks for the report. Can you please attach a stack trace?

[2015-02-10 23:54] nikhil-github commented on #139
Hi Robert , I have enabled the trace but there is just info message

No stack trace available
INFO ->
Retrieving file "REPOSITORY FILE LOCATION" @ 1499 from repo null ( "REPOSITORY LOCATION")

Thanks

[2015-02-11 10:21] nikhil-github commented on #139
Hi Robert , Does this plugin support post commit reviews ?

[2015-02-11 11:33] rombert commented on #139
No, it does not at the moment

[2015-02-11 11:33] rombert commented on #139
Do you have anything in the Eclipse error log related to this?

[2015-02-11 13:45] nikhil-github commented on #139
Hi Robert, There is nothing on the eclipse error log . Only thing it says is that the file revision does not exist in the repo . I noticed that the person who created the review request uses an older version of SVN compared to the one i have . Does this really matters?

[2015-02-13 23:32] rombert commented on #139
SVN versions _should_ not matter . Some things to try

- make sure your local checkout is up to date
- try and switching to the same branch as the one on which the review is based

[2015-02-15 19:07] nikhil-github commented on #139
Hi Robert , thanks for the response . I did update that my local copy is up to date and also tried to switch to the same branch where review board is based but still no luck . I am getting same error window in eclipse that says compare failed with the below message

Failed getting contents of

https://svn.repository.com/svn/repos/trunk/helloworld.java @1510:
org.apache.subversion.javahl.ClientExce

[2015-02-15 19:11] nikhil-github commented on #139
One more thing is the users directly create diff files / patch files from eclipse and upload them to review board UI tool to create the review request

[2015-02-20 09:54] rombert commented on #139
Thanks for the detailed information. I'll have to try and reproduce this, hopefully next week

[2015-03-10 06:35] tapasalok opened #140 "To create post-commit Review request using ereviewboard plug-in in Eclipse"
Dear,

Creating pre-commit Review requests is working very fine.
Let's try to have a way by which we can create Review request after checking-in code into SVN (Post-commit). It would be really helpful for the audience who support Post-commit Review mechanism.

Thanks,
Tapas

[2015-03-10 06:39] tapasalok opened #141 "Not able to upload attachment and reply to the Comments from Eclipse"
Dear,

I am not able to upload attachment from Eclipse. It is giving me the option to upload the file. But, It is not getting updated. The uploaded image or file is not getting shown in the Attachments section.

Similarly, I am not able to reply to the comments given by reviewer from Eclipse.
Please help me out the fix the problem.

Thanks,
Tapas

[2015-03-20 14:02] rombert commented on #141
Do you have any entries in the Eclipse error log? Do the attachments apper
on ReviewBoard?

On Tue, Mar 10, 2015 at 8:39 AM, tapasalok <notifications@github.com> wrote:

--
http://robert.muntea.nu/

[2015-03-20 14:03] rombert commented on #140
Would be nice to see that, I agree

[2015-03-30 09:26] tapasalok opened #142 "Failed getting contents of http: Filesystem has no item svn: path not found"
We have created one review request but post that when I perform a Diff from eReviewBoard, I am getting the below error

 Failed getting contents of http://******_/svn/Path Trial @73571:
 org.apache.subversion.javahl.ClientException: Filesystem has no item svn:
 '/svn/!svn/bc/73602/http:/**_****/svn/Path%20Trial/slider.js' path not found

![image](https://cloud.githubusercontent.com/assets/1433281/

[2015-03-30 09:53] tapasalok opened #143 "Failed creating new review request : No file named ''/ABC/Customized%20for%20Customer/'' found in the repository at revision"
Failed creating new review request : No file named '/ARC/PP/Loyalty247/Client/Android/Customized%20for%20Customer/Robinsons/Loyalty_247_1.0.0_src/Manthan/gen/com/google/android/gms/R.java' found in the repository at revision '73619'

I feel this is coming when there is space in the names of folders. It is adding %20 in between:
E.g.: ReviewBoard (Working fine)
        Review Broard (Not working)

[2015-03-30 10:03] tapasalok commented on #141
There is not entries in Eclipse error log and Attachments doesn't appear in Review Board Web URL.

[2015-03-30 10:10] tapasalok commented on #139
I am also facing the same issue. Please help me out to fix it.

[2015-04-08 09:54] selsemore commented on #139
Hi Robert,
I don't know if this is the case here, but I've found that you will get an error like this if the base directory for the patch has been entered as an absolute URL (which is supported from Web UI) rather than as a relative path.  The problem seems to be in SubclipseSCMFileContentsLocator#66:

SVNUrl resourceUrl = repoLocation.getUrl().appendPath(_filePath);

It should be fixed to recogni

[2015-04-08 15:27] brianmrock commented on #92
This would be a great feature +1 from me.

[2015-04-09 11:58] rombert commented on #139
Thanks @selsemore for the pull request! I've updated a pre-release at https://github.com/rombert/ereviewboard/releases/tag/ereviewboard-0.13.4-pre-1 . @tapasalok , @nikhil-github - can you please download the zipped update site and check if this fixes your problem?

[2015-04-09 19:41] ruchithakur639 opened #145 "Randomly selection of Repository in Eclipse"
Hi,
Repository is getting selected by default randomly in my Eclipse. Please let me know about the logic by which Repository is coming while creating review request.

Please help me out to choose the correct repository.

[2015-04-09 21:20] rombert commented on #145
Not sure if you asked for the implementation details, but here they are

https://github.com/rombert/ereviewboard/blob/42d4f5f725dec7ccef6980bdfbde27bf0cb20a87/org.review_board.ereviewboard.subclipse.ui/src/org/review_board/ereviewboard/subclipse/internal/wizards/DetectLocalChangesPage.java#L230-L247

It matches the remote (ReviewBoard) repository with a local (Eclipse) repository based on UUID val

[2015-04-10 02:50] ruchithakur639 commented on #145
Hi,
Thanks a lot for the code details.
I feel, ereviewboard is the future. Here. all are following it.
I want to set up configuration to build the code present in github and contribute.

Please let me know if some reference documents are present. So that, I can follow to build in my machine. I am using Windows7 OS.

[2015-04-10 14:42] rombert commented on #145
Great! As prerequisites, you need to have a recent version of Eclipse with m2e integration, Maven and git installed. Then you can

* clone the repository ( `git clone https://github.com/rombert/ereviewboard.git` )
* build the repository locally ( `cd ereviewboard; mvn clean verify` )
* import into Eclipse ( File -> Import Existing Maven Project ) ; import all the projects
* set the Eclipse target

[2015-04-13 03:16] ruchithakur639 commented on #145
Hi Robert,

I am very new to Plug-in development. I am done with the installations in my machine.
While building the project, I am getting following errors in Eclipse:

![image](https://cloud.githubusercontent.com/assets/11876555/7109339/553dcc4c-e1b9-11e4-97d8-ea4d795d48c7.png)

Please let me know how to resolve those. Are we missing any jar files ?

After completion of successful building this p

[2015-04-13 21:43] rombert commented on #145
Can you confirm what the target platform selection is?  in Eclipse -> Preferences -> Plugin-in Development -> Target platform

[2015-04-24 01:54] bc-shusson commented on #92
+1

[2015-04-26 03:27] JustDerb commented on #92
+1

[2015-05-05 10:05] codemedic commented on #92
+1

[2015-05-05 17:53] rainulf commented on #92
+1

[2015-05-23 11:47] rombert opened #146 "Clarify project is licensed under the EPL"
Ensure that copyright headers are up-to-date and add a top-level LICENSE file to the repository.

[2015-05-26 04:53] viratlakshya commented on #146
Thanks, a lot rombert@

[2015-06-09 01:34] jancojt commented on #92
+1

[2015-06-16 13:58] Bplotka commented on #92
+1

[2015-06-18 17:12] selsemore commented on #142
I don't know if this is the problem here, but I submitted a pull request that fixes a problem like this in the case where the file existed in the revision at which the patch was created but does not exist in the HEAD revision.
https://github.com/rombert/ereviewboard/pull/147

[2015-06-19 09:03] rombert commented on #142
@tapasalok - I have built a new pre-release based on @selsemore's fix. Can you please download it from https://github.com/rombert/ereviewboard/releases/tag/ereviewboard-0.13.4-pre-2 and let us know if this fixes the problem?

[2015-07-07 14:14] TroldeJens commented on #92
+1

[2015-07-21 18:27] tj-recess commented on #92
+1

[2015-07-29 08:53] centy opened #148 "When query is use "to the user" it also filter all task from group"
When new query is created and filtered "to the user" it also will filter all reviews which are not directly to the user but also user is member of some group that is added to the review.
This seems to be incorrect. Our team always set everyone  group to each review, however only directly points persons who should do the review. Currently I am not able to filter out reviews directly to me.

[2015-07-30 11:21] rombert commented on #148
The query implementation is done in the [ToUserReviewRequestQuery|https://github.com/rombert/ereviewboard/blob/master/org.review_board.ereviewboard.core/src/org/review_board/ereviewboard/core/model/ToUserReviewRequestQuery.java], which uses the `to-users` parameter from the API.

The fix would be to allow usage of the`to-users-directly` parameter in parallel to the existing behaviour. Is this some

[2015-08-04 13:28] nareshgoyal92 opened #149 "Not able to Update diff in Eclipse Kepler"
I am not able to update the diff file in eclipse plugin ereviewboard. I am using Eclipse Kepler.

Error message pop out : Could not find a matching project for the resources in the review request.

Please help.

Attahced screenshot
![ss](https://cloud.githubusercontent.com/assets/13641771/9061590/6b9b6074-3ada-11e5-979e-23fb93bee080.PNG)

[2015-08-11 14:49] rombert commented on #149
Thanks for the report. Do you have a SVN repository defined in Eclipse which matches the one from ReviewBoard?

[2015-08-11 14:53] nareshgoyal92 commented on #149
Yes I have SVN repository. It is linked with review board.

[2015-08-24 11:32] nareshgoyal92 commented on #149
Please help me in issue. I am not able to use ereviewboard.

[2015-08-29 08:07] rombert commented on #149
Can you try a pre-release build from

https://github.com/rombert/ereviewboard/releases/tag/ereviewboard-0.13.4-pre-2

and see if it helps? It does include a couple of SVN-related fixes.
On Aug 24, 2015 2:32 PM, "nareshgoyal92" <notifications@github.com> wrote:

[2015-09-02 06:34] nareshgoyal92 commented on #149
Hi Rombert,

I have tried with pre-release but problem still persist.
In fact after installation of pre-release maven plugin integration with Eclipse got affected.

[2015-09-04 20:57] ryanrolds commented on #92
+1

[2015-09-23 10:30] mrshoki commented on #92
+1

[2015-09-29 15:33] kavirajk commented on #92
+1

[2015-10-07 09:26] nareshgoyal92 commented on #149
Hi Rombert,

Please update. If it is an issue can i have some workaround.

[2015-11-08 08:51] ttddyy commented on #92
+1

[2015-12-06 15:06] yotamoron commented on #92
+1

[2016-02-17 16:44] emckenna commented on #92
yes please

[2016-02-24 21:59] cybersam commented on #92
+1

[2016-03-02 06:11] Ratler commented on #92
+1

[2016-03-15 05:02] aarosil commented on #92
+1

[2016-03-16 18:05] samuelmburu commented on #92
+1

[2016-03-23 01:00] ulisesbocchio commented on #92
+1

[2016-03-24 18:42] mktal commented on #92
+1

[2016-04-20 23:18] zacharyyy commented on #92
+1

[2016-05-06 18:58] jpotte1d commented on #92
+1

[2016-05-22 13:54] ybaras commented on #92
+1

[2016-05-24 06:48] jemaystermind commented on #92
+1

[2016-05-26 20:25] ebrause commented on #92
+1

[2016-05-27 18:17] jodzga opened #150 "There was an error fetching extended information for this repository (Unhandled event loop exception)"
When I try to create a new query I am getting "Unhandled event loop exception":

java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at org.review_board.ereviewboard.ui.ReviewboardUiUtil.refreshRepositoryData(ReviewboardUiUtil.java:104)
	at org.review_board.ereviewboard.ui.wizard.ReviewboardQueryPage.updateRepositoryData(ReviewboardQueryPage.java:162)
	at org.review_board.erev

[2016-05-27 19:43] jodzga commented on #150
I looked deeper into it and found out that the problem is that for one of the queries made by the plugin ReveiwBoard server returns 500:
https://rbserver.com/api/repositories/9/info/
There are few others that return 200 e.g.:
https://rbserver.com/api/repositories/4/info/
https://rbserver.com/api/repositories/6/info/
It seems that the problem is on the server, not in the plugin.
It would be great i

[2016-05-28 00:40] jodzga commented on #150
Looked into it and it turns out that this is an expected behavior:
https://www.reviewboard.org/docs/manual/1.5/webapi/2.0/errors/210-repository-info-error/

I think a correct behavior for the plugin would be to ignore this error and continue. Is that possible?

[2016-05-30 14:44] rombert commented on #150
Thanks for the report. I may not be able to look into this soon. Can you verify the error on the server side related to that repository? This may be fixable by ignoring the error, but we may hit inconsistencies later on.

Seems related to #118

[2016-05-30 18:27] royts commented on #92
+1

[2016-05-31 16:43] jodzga commented on #150
I verified that it is caused by repository. Visiting repository returns:
[code]
It would be great if plugin could ignore it, perhaps try to re-fetch it later. In my case this is a legacy repo not used anymore so ignoring failures related to it is unlikely to cause problems but I don't know enough about ReviewBoard to say that ignoring 500 it is safe in general. On the other hand, one misconfigured

[2016-06-04 11:15] gyurma5th opened #151 "Add support for Clearcase repositories"
Hello,

I am using Reviewboard with Clearcase. The SCM provider in eclipse is "eclipse clearcase" (https://sourceforge.net/projects/eclipse-ccase/).

I have already created and used an own version of it. It changed however base classes in ereviewboard.ui. I am currently in the refactoring of it and I propose a new extension point added for CompareEditorInput creation. See my changes at https://git

[2016-06-09 10:41] mm973 commented on #92
+1

[2016-06-14 21:24] flopex commented on #92
:+1:

[2016-06-15 09:35] alexissan commented on #92
+1

[2016-06-22 13:21] rombert commented on #151
That sounds great, looking forward to your pull requests :-)

To make reviewing and merging simpler, I suggest creating separate commits in the pull request ( or even multiple pull requests if you prefer )

- 1 for the refactoring of the base/support classes
- 1 for adding ClearCase support

[2016-07-09 15:13] Stadler76 commented on #92
+1

[2016-07-18 22:50] vietnogi commented on #92
+1

[2016-07-18 22:50] vietnogi commented on #92
+1

[2016-08-02 15:04] rdpa commented on #92
+1

[2016-08-02 15:05] NathanBWaters commented on #92
+1

[2016-08-02 17:33] ethanjurman commented on #92
+1

[2016-08-02 18:53] OscarRyz commented on #92
I was trying to sell github code review over fisheye and this issue came up... :(
I guess will keep using fisheye.

[2016-08-05 17:02] hunterjackson commented on #92
+1

[2016-08-11 04:58] Lohann commented on #92
+1

[2016-08-14 06:40] MaximeAnsquer commented on #92
+1

[2016-08-23 02:06] sschaetz commented on #92
+1

[2016-08-24 14:37] atrefz commented on #92
+1

[2016-09-07 04:57] hang-qi commented on #92
+1

[2016-09-12 13:41] markphip opened #153 "Support latest Subclipse release"
I have recently moved Subclipse to Github and restructured the project and build process to use Maven etc.

In the process, I am also updating the minimum Eclipse requirement so I just bumped up to a new version number (4.2.0).

The eReviewboard feature.xml has an incorrect requires dependency that prevents it from installing.  I have posted a pull request to fix this.  It would be great if you co

[2016-09-12 14:05] rombert commented on #153
Thanks for the heads-up. I will perform a release at the end of this week, I need to clear up some issues with my code signing certificate. Or if you have a code signing certificate that you can use you can go ahead and use it and I will guide you through the release process.

[2016-09-15 23:40] alestuber commented on #92
+1

[2016-10-04 16:17] monjerry commented on #92
+1

[2016-10-10 23:22] kiiadi commented on #92
+1

[2016-10-18 23:49] igregson commented on #92
+1

[2016-10-25 21:51] tknerr commented on #92
+1

[2016-11-02 02:22] calvin620707 commented on #92
+1

[2016-11-17 22:51] igustafson commented on #92
+1

[2016-11-28 17:18] kiiadi commented on #92
+1

[2016-11-29 08:36] Jongchana-P commented on #92
+1

[2016-12-01 09:54] jlak-coder opened #154 "no option ‘create review’"

[2016-12-01 09:57] jlak-coder commented on #154
why can not find the option ‘create review request ’ on team under the right install

[2016-12-07 17:46] osemgl commented on #92
+1

[2016-12-09 20:51] harold commented on #92
+1 :heart:

[2016-12-19 15:08] emilianionascu commented on #92
+1

[2016-12-21 16:51] sukei commented on #92
+1

[2016-12-22 00:16] coleleahy commented on #92
+1

[2016-12-27 10:05] TeddyHartanto commented on #92
+1

[2017-01-20 16:34] sgarcesg1 commented on #92
+1

[2017-01-23 10:51] sebastienatplumbee commented on #92
+1

[2017-01-24 06:16] jzhuge commented on #92
+1

[2017-02-07 09:08] arvinthj commented on #92
+1

[2017-02-07 10:33] SergeyBondarenko commented on #92
+1

[2017-02-09 10:09] lorey-casacop commented on #92
+1

[2017-02-13 13:33] artemsavostianov commented on #92
+1

[2017-02-13 15:42] bam0382 commented on #92
+1

[2017-02-13 21:43] devrei commented on #92
+ 1

[2017-02-14 14:47] Introvertuous commented on #92
+1

[2017-02-15 17:41] lane-flexe commented on #92
+1

[2017-02-16 13:26] shukla2112 commented on #92
+1

[2017-02-19 19:59] rombert commented on #139
No feedback, considering fixed.

[2017-02-19 19:59] #139 closed

[2017-02-19 19:59] rombert commented on #142
No feedback, considering fixed.

[2017-02-19 19:59] #142 closed

[2017-02-19 20:02] rombert commented on #153
Sorry for the large delay - I did not manage to get a code signing certificate so I just released with unsigned content. Definitely better than no release

[2017-02-19 20:02] #153 closed

[2017-02-19 20:09] rombert commented on #154
Have you installed the Subclipse integration ? https://github.com/rombert/ereviewboard/wiki/Subclipse-integration

[2017-02-21 04:31] peter-toms commented on #92
+1

[2017-02-21 06:44] dfiver opened #155 "Dependcy error when installing ReviewBoard Subclipse Integration 0.13.3"
Error when installing ReviewBoard Subclipse Integration 0.13.3

`Missing requirement: Mylyn Reviews Connector: ReviewBoard Subclipse Integration (Optional) 0.13.3 (org.review_board.ereviewboard.subclipse.feature.group 0.13.3) requires 'org.tigris.subversion.subclipse.feature.group [1.4.0,2.0.0)' but it could not be found`

I have installed subclipse version 4.2.0. I cannot find the version 1.4.0 o

[2017-02-24 16:50] brazilbean commented on #92
+1

[2017-02-24 16:50] brazilbean commented on #92
And please include this feature in enterprise git accounts as well.

[2017-03-07 12:05] aaabidunique commented on #154
@rombert I have installed subclipse and its subclipse integration also.I can see that in installtion detail in eclipse.
Mylyn Reviews Connector: ReviewBoard Subclipse Integration (Optional)	0.13.4	org.review_board.ereviewboard.subclipse.feature.group	eReviewBoard developers

Above integration is present but i am not to see any create review request from team menu.

FYI i have used different versio

[2017-03-08 04:59] aaabidunique opened #156 "Authentication failed, please check your username and password"
Whenever you create a task repository in eclipse for reviewboard and provide user credential it works fine for the first time, but after restarting eclipse if you click update repository configuration in task repository it gives "Updating repository conguration failed : Authentication failed, please check your username and password" error.
Further, if you go to properties of the repository and try

[2017-03-09 15:51] brooksandrew commented on #92
+1 (including for GH enterprise)

[2017-03-10 05:19] aaabidunique opened #157 "Reply from comment and update diff not working"
Hi,
I recently installed this plugin and I am unable to reply to the comments from the task window.When I click it does nothing.

Update diff button is also not  working and giving error msg "Could not find a maching project for the resources in the review request".

Any solution please let me know

[2017-03-10 16:39] pruthvidesai commented on #92
+1

[2017-03-10 19:32] taoning2014 commented on #92
+1

[2017-03-16 17:58] chronidev commented on #92
+1

[2017-03-19 08:24] davorkovacic-abh commented on #92
+1

[2017-03-22 09:56] gazoon commented on #92
+1

[2017-03-27 15:06] rombert commented on #156
What versions of Eclipse and Mylyn are you using?

[2017-03-28 07:34] femdom commented on #92
+1

[2017-03-28 07:59] jbalca commented on #92
+1

[2017-03-29 04:29] aaabidunique commented on #156
I am using Eclipse Neon.2 Release (4.6.2) and for Mylyn see screenshot.
![screenshot from 2017-03-29 09-55-46](https://cloud.githubusercontent.com/assets/9800757/24438614/16d6db6a-1466-11e7-84b4-45c3e2ccd0a3.png)

[2017-03-31 15:45] leondragan commented on #92
+1

[2017-04-03 21:47] arivinay commented on #92
+1

[2017-04-04 19:02] gytibor commented on #92
+1

[2017-04-07 18:03] kilogold commented on #92
+1

[2017-04-09 20:35] rombert commented on #156
Hm, that's strange. When you open the task repository dialog, where you enter your username and password, are they still filled in?

If they are, it would be interesting to find out if the same values are sent before and after the restart. You can capture them using wireshark or maybe mitmproxy.

[2017-04-09 20:49] rombert commented on #154
@aaabidunique - that is expected, the option is only enabled on the project root. If you think this should be done otherwise feel free to raise a new issue, but unless some is willing to contribute it I won't have the time to look into it.

@jlak-coder  - do you have Subclipse installed and is the project managed by Subclipse? Otherwise the option will not appear.

[2017-04-24 18:52] colinharris05 commented on #92
+1

[2017-04-25 18:49] christinechou commented on #92
+1

[2017-04-25 23:20] vshwnth2 commented on #92
+1

[2017-05-04 14:12] brassy- commented on #92
+1

[2017-05-05 05:29] cghirardi commented on #92
+1

[2017-05-05 14:51] dapenguin commented on #92
+1

[2017-05-10 10:01] dominikdosoudil commented on #92
+1

[2017-05-16 16:27] seaninryan commented on #92
+1

[2017-05-18 13:46] csdaraujo commented on #92
+1

[2017-05-19 17:44] SandeepPissay commented on #92
+1.

[2017-05-19 20:49] verakutsenko commented on #92
+1

[2017-05-24 14:41] olsaki commented on #92
👍

[2017-05-25 07:10] cyberbob commented on #92
+1

[2017-05-30 10:51] mec07 commented on #92
+1

[2017-06-03 17:15] Terbiy commented on #92
+1

[2017-06-06 08:21] atanasdb commented on #92
+1

[2017-06-07 18:22] Damien-Black commented on #92
+1

[2017-06-14 07:26] sbleihp5 commented on #92
+1

[2017-06-15 14:17] jessesarn commented on #92
+1

[2017-06-21 12:32] ignacio83 commented on #92
+1

[2017-06-22 08:18] thomasofdenmark commented on #92
+1

[2017-06-22 10:14] PHLF commented on #92
👍

[2017-06-23 14:47] kosiakMD commented on #92
+1

[2017-06-28 11:35] realmika commented on #92
+1

[2017-06-29 11:27] srnypst commented on #92
+1

[2017-06-30 00:10] johnnycoinbase commented on #92
+1

[2017-06-30 03:59] beauzo commented on #92
+1

[2017-06-30 20:23] ndanielsen commented on #92
+1

[2017-07-09 15:37] sarathprasath commented on #92
+1

[2017-07-10 21:53] carlosquijano commented on #92
+1

[2017-07-13 11:37] MannyCalavera1 commented on #92
+1

[2017-07-13 22:11] gcacace commented on #92
+1

[2017-07-26 14:00] knieber commented on #92
+1

[2017-08-03 13:04] ddebowczyk92 commented on #92
+1

[2017-08-04 19:32] vfrolov-verve commented on #92
+1

[2017-08-07 09:28] hopkirk commented on #92
+1

[2017-08-07 09:30] girichards commented on #92
+1 :+1:

[2017-08-07 09:30] jboast commented on #92
+1

[2017-08-07 09:30] ocoulson commented on #92
+1

[2017-08-07 09:31] stephenfox425 commented on #92
+1

[2017-08-09 04:02] nsnitish commented on #92
+1

[2017-08-10 09:05] patallen commented on #92
+1

[2017-08-10 09:08] daegontaven commented on #92
Commented in 2012. Now 2017. No changes yet.

[2017-08-17 20:21] rombert commented on #150
Agreed we should be more robust here. Unfortunately I don't have the time to work on it myself. Contributions welcome :-)

[2017-08-24 19:46] jcheroske commented on #92
+1

[2017-09-28 19:26] tuliot commented on #92
+1

[2017-09-28 19:33] gnarturo commented on #92
+1

[2017-09-28 20:13] andela-jomadoye commented on #92
+1

[2017-10-03 15:58] dmateusp commented on #92
+1

[2017-10-03 21:48] cojj90 commented on #92
+1

[2017-10-06 21:41] angela-mylo commented on #92
+1

[2017-10-07 19:05] riskx commented on #92
+1

[2017-10-08 08:50] artyil commented on #92
+1

[2017-10-16 10:30] lkotula opened #158 "Multiple monitors and editing previously added comments"
Old comments display on the left edge of the middle screen when "comparison view" is in the middle screen and "Task list" is in a floating windows in the left screen.

The comment is displayed far away from the mouse. Moving the mouse, hides the comment.

[2017-10-17 02:36] MasterPpv commented on #92
+1

[2017-10-18 10:16] maschel commented on #92
+1

[2017-10-27 09:47] arheyy commented on #92
+1

[2017-10-28 16:34] stevebeyatte commented on #92
+1

[2017-11-02 06:06] snth commented on #92
+1

[2017-11-02 13:48] AndrewBrazil commented on #92
+1

[2017-11-02 17:25] nvolynets commented on #92
+1

[2017-11-03 01:05] arunvinudss commented on #92
+1

[2017-11-06 04:17] DominikSchmidtlein commented on #92
+1

[2017-11-07 17:49] nematolah commented on #92
+1

[2017-11-07 17:50] mattewood-comcast commented on #92
+1

[2017-11-14 15:56] mmziyad commented on #92
+1

[2017-11-15 16:32] gyurma5th commented on #156
I also encountered it. Albeit a bit differently. My password was changed on the server and I wanted to change it in eclipse too.

I investigated it some month ago. As I recall the old password is getting used in mylyn deeps unnecessarily verifying the server causing an AuthFailed exception.

[2017-11-15 16:36] gyurma5th commented on #133
Is something preventing it to make ReviewboardRepositoryConnector a ReviewsConnector (except the lot of changes it causes)?
I will try to go after this if you do not object.

[2017-11-16 08:27] countzero commented on #92
+1

[2017-11-16 16:22] samarkamat commented on #92
+1

[2017-11-21 18:49] LeoKotschenreuther commented on #92
+1

[2017-11-22 13:53] jsaramago commented on #92
+1

[2017-12-01 11:48] bh commented on #92
+1

[2017-12-04 13:24] msevastian commented on #92
+1

[2017-12-04 17:19] subinwalter commented on #92
+1

[2017-12-11 14:35] darkdragon-001 commented on #92
+1

[2017-12-14 11:42] ohjimijimijimi commented on #92
+1

[2017-12-14 18:08] tielur commented on #92
+1

[2017-12-28 06:21] Geethree commented on #92
For the love of usability. Please add. +1*everyday you don't add this.

[2018-01-14 09:01] dannyhuly commented on #92
+1

[2018-01-15 08:25] greatfireball commented on #92
+1

[2018-01-19 02:48] IlluYing commented on #92
+1

[2018-01-21 00:25] rohpavone commented on #92
+1

[2018-01-22 01:09] samlandfried commented on #92
+1

[2018-01-22 09:58] ybaras commented on #92
+1

[2018-01-29 16:10] solimant commented on #92
+1

[2018-01-30 06:48] fly-in-red commented on #92
+1

[2018-02-07 22:10] raniejade commented on #92
+1

[2018-02-08 21:32] webologics commented on #92
+1

[2018-02-09 13:17] KrzysztofSakowski commented on #92
+1

[2018-02-28 14:37] abaines-phx commented on #92
+1

[2018-02-28 14:43] wkeel-phx commented on #92
+1

[2018-02-28 15:10] Aalshakhshir commented on #92
+1

[2018-03-08 16:03] zjg95 commented on #92
+1

[2018-03-12 12:56] mikehn commented on #92
+1

[2018-03-13 17:51] robwalton commented on #92
+1

[2018-03-15 06:33] jenstroeger commented on #92
+1

[2018-03-15 17:35] abroskin commented on #92
+1

[2018-03-16 21:35] DamianSkrzypczak commented on #92
+1

[2018-03-21 08:30] Eagllus commented on #92
+1

[2018-03-22 14:23] ReggaePanda commented on #92
+2

[2018-03-25 09:13] silent-coder commented on #92
+666

[2018-03-29 07:09] marengaz commented on #92
+1

[2018-03-29 09:28] Kingdutch commented on #92
For everyone scrolling down here to type +1 (or something along those lines). Please scroll back up and just click the little thumbs up on the initial post. This way the comments can be used for constructive discussion and actual updates on this great feature request.

Thanks!

[2018-04-05 08:01] stascrash commented on #92
Hi, Yes i do wish we had this feature, considering it was first mentioned  in 2012.

+1

[2018-04-20 13:01] pbukva commented on #92
This is very useful feature, it has been impleemnted by other review tools for years by now (for instance in `Phabricator`).
I don't want to sound like old farty whine here, but it is quite a shame this feature request is hanging here since 2012 ...

**+1**

@Kingdutch : I did thumb up, but I simply could not hold myself not to slap the `+1` here as weel to emphasize how long overdue this actually

[2018-04-20 16:31] idahogurl commented on #92
I cannot believe the age of this feature request. 2012? Guess I will just have to reference the line numbers in my comment.

+1

[2018-05-03 01:05] piedrahitapablo commented on #92
+1

[2018-05-07 12:26] liubomirwm commented on #92
And here comes another +1.

[2018-05-10 20:17] HartiganHM commented on #92
Why not? +1 👍

[2018-05-11 18:28] ruben0626 commented on #92
+1!

[2018-05-14 15:33] hellhoundsx commented on #92
+1 Cmon, this is a super feature

[2018-05-15 11:18] slaby93 commented on #92
+1

[2018-05-16 23:11] gslandtreter commented on #92
+1

[2018-05-18 19:14] erinkerInformatica commented on #92
+1

[2018-05-22 16:53] Brady-Walker commented on #92
+1

[2018-05-28 14:28] eviktorovich-sc commented on #92
+1

[2018-05-31 16:48] rayman02 commented on #92
+1

[2018-06-02 09:29] Bert-R commented on #92
👍

[2018-06-25 17:05] nazarioa commented on #92
+1

[2018-06-26 09:30] Gujarats commented on #92
+100 :+1:

[2018-06-26 19:04] mccord commented on #92
+1

[2018-06-27 13:30] nswarr commented on #92
+1

[2018-07-09 21:50] rawrgulmuffins commented on #92
+1

[2018-07-10 21:52] hugoz1234 commented on #92
+1

[2018-07-11 11:49] brendan-rius commented on #92
+1

[2018-07-16 16:56] rawrgulmuffins commented on #92
@Kingdutch It's too late for this comment section. Turn back now before it devours you as well!

[2018-07-16 17:51] Introvertuous commented on #92
I keep hitting plus one, but nothing is happening!

[2018-07-19 16:47] rhklinux commented on #92
+1

[2018-07-24 19:47] Zeitsperre commented on #92
+1

[2018-07-31 11:19] vitalijsozornins commented on #92
+1

[2018-09-07 08:33] MykolaMoiseienko commented on #92
+1

[2018-10-25 18:32] Dakota628 commented on #92
+1

[2019-10-15 13:22] philippecade opened #159 "Update site is not available anymore"
The update site as listed below is not available anymore and gives a 404 error.

http://rombert.github.io/ereviewboard/update/

[2019-10-17 08:06] rombert commented on #159
Hi @philippecade  and thanks for the report. The p2 update site loads fine for me in Eclipse.

![image](https://user-images.githubusercontent.com/21237/66990033-b953a100-f0c5-11e9-909d-0d7a706261bf.png)

Did you just navigate using the browser or did you try to install from Eclipse?

[2019-10-17 11:08] philippecade commented on #159
We are installing ereviewboard via Eclipse Oomph and I got an error that this update site was not available.

Then I tried in the browser and got the 404. Thinking about it a bit more, the 404 probably comes from the fact that the update site doesn't have an index.html file.

Anyway it looks like it is working again now when using Oomph, so I'll close this issue. Might have been a hitch with the G

[2019-10-17 11:08] #159 closed

[2019-10-17 11:17] rombert commented on #159
Thanks for confirming that it works, @philippecade

[2021-02-25 13:22] maxvohlken opened #160 "The update site URL is not working"
The update site URL is not working. Going to http://rombert.github.com/ereviewboard/update/ gets a 404 file not found error.

[2021-03-01 17:17] rombert commented on #160
Hi,

You should add that URL to Eclipse, there is nothing to display when accessing it with a browser.

[2021-03-01 20:28] #160 closed

[2021-03-01 20:29] maxvohlken commented on #160
Thanks, that explains it.

[2021-04-18 13:30] Kerdanyy opened #161 "Error in p2 update site"
![image](https://user-images.githubusercontent.com/18310499/115147358-ee460880-a05a-11eb-88cd-ddf57dd487a0.png)

[2021-05-18 15:18] #161 closed

[2021-05-18 15:18] rombert commented on #161
Thanks for reporting. Please use https://rombert.github.io/ereviewboard/update/ from now on.

[2022-06-14 08:54] ssenegas commented on #150
+1 This issue still exist with Eclipse IDE for Java Developers
Version: 2022-03 (4.23.0)
Build id: 20220310-1457
Windows 10 64 bits
eReviewBoard 0.13.4 <-> Review Board 3.0.19

`!ENTRY org.eclipse.ui 4 0 2022-06-13 14:19:03.056
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at org.review_board.ereviewboard.ui.ReviewboardUiU